 /*	RESET
------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Mettre Box Sizing "border-box" par défaut */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a:hover {
  color: #5d79ea;
}



/* BASIC FORMATTING - IGNORE !
------------------------------------------- */
html {
  font-size: 18px;
}

body {
	font-size:inherit;
	font-family: "Roboto Condensed", sans-serif;
	font-weight:300;
	line-height:1.4;
	color: #333;
}

h1, h2, h3 {
	font-weight:400;
}

h1 {
	font-size:2em;
}
h2 {
	font-size:1.5em;
}

p {
	margin-bottom:1em;
}

article {
	max-width:1024px;
	margin:2em auto;
}

article h1 {
	margin:2em 0;
}

footer {
	text-align:center;
}


/* COLLAPSE
------------------------------------------- */
.collapse h2 {
	margin-bottom:.2em;
}
.collapse h2.open {
	
}

.collapse h2 a {
	display:block;
	padding:.4em .5em .2em;
	position:relative;
	font-size: 1em;
	background:#f5f5f5;
}

.collapse h2 a:after {
	content:"\21E3";
	display:block;
	position:absolute;
	top:.4em;
	right:1em;
}
.collapse h2.open a:after {
	content:"\21E1";
}

.collapse div {
	padding:1em;
}